<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>yAPPE!</title>


	<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/cats.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>