<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>yappE</title>
</head>

<body class="profile-body">
    <nav class="navbar dogprofile-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/homepage">
                <h1>yappE</h1>
            </a>
        </div>
    </nav>
    <div class="container profile-container">

        <!-- main profile pic of the dog needs to go here -->
        <div class="box">
            <div class="media-" id="imagediv">
                <img class="dog-pic" src=../images/dogbg0.jpg alt="placeholder">
            </div>
        </div>
        <div class="buttons">
            <button class="button is-primary is-inverted is-outlined feed-button">Feed Dog</button>
            <!--button needs to track what time it was pressed and track the user who pushed the button-->
            <p>Fed by</p>
            <div class="field">
                <div class="control">
                    <textarea class="feed-info" placeholder="Feed Info"></textarea> <br>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button is-primary is-inverted is-outlined potty-button">Take Dog to Potty</button>
            <!--button needs to track what time it was pressed and track the user who pushed the button-->
            <p>Let out by</p>
            <div class="field">
                <div class="control">
                    <textarea class="potty-info" placeholder="Potty Info"></textarea> <br>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button is-primary is-inverted is-outlined walk-button">Walk Dog</button>
            <!--button needs to track what time it was pressed and track the user who pushed the button-->
            <p>Walked by</p>
            <div class="field">
                <div class="control">
                    <textarea class="walk-info" placeholder="Walk Info"></textarea> <br>
                </div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/signup.js"></script>
        <script type="text/javascript" src="js/login.js"></script>

</body>

</html>