<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yappE</title>
    <link rel="stylesheet" href="test.html">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<body>
    <h1>Tell us about yourself</h1>

    <form>
        <div class="container">
            <ul>
                <label class="mdc-text-field">
                    <input type="text" class="mdc-text-field__input" required>
                    <!-- <span class="mdc-floating-label">First Name</span> -->
                    <div class="mdc-text-field__bottom-line"></div>
                </label>
            </ul>

            <ul>
                <label class="mdc-text-field">
                    <input type="text" class="mdc-text-field__input" required>
                    <span class="mdc-floating-label">Last Name</span>
                    <div class="mdc-text-field__bottom-line"></div>
                </label>
            </ul>

            <ul>
                <label class="mdc-text-field">
                    <input type="text" class="mdc-text-field__input" required>
                    <span class="mdc-floating-label">Email</span>
                    <div class="mdc-text-field__bottom-line"></div>
                </label>


            </ul>

            <ul>
                <label class="mdc-text-field">
                    <input type="text" class="mdc-text-field__input" required>
                    <span class="mdc-floating-label">password</span>
                    <div class="mdc-text-field__bottom-line"></div>

                </label>
            </ul>

            <span class="newdog"><a href="dogadd.html">New dog</a></span>
            <button type="submit">Sign Up</button>
        </div>


    </form>

    <script type="text/javascript" src="../js/signup.js"></script>

</body>

</html>